@using Statistics.Identity

@model Statistics.Models.SaleFilterModel

@{
    ViewBag.Title = "Statistics";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 

<div style="display:table; width:100%;">
        <div style="display: table-cell; width:65%;">
            @using (Html.BeginForm())
            {
                <div id="filterForm" class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { id = "eCustomer", @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Manager, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Manager, new { htmlAttributes = new { id = "eManager", @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Product, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Product, new { htmlAttributes = new { id = "eProduct", @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { id = "eStartDate", @class = "form-control datefield" } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { id = "eEndDate", @class = "form-control datefield" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button id="bFind" type="submit" value="Find" class="btn btn-default">Find</button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div style="display: table-cell;" >
            <h4>Select chart:</h4>
            <div class="container">
                <div class="form-group">
                    <input id="rbDate" name="chartRadio" type="radio" class="radio-inline" checked="checked" value="SaleDate" /> By sale date
                </div>
                <div class="form-group">
                    <input id="rbManager" name="chartRadio" type="radio" class="radio-inline" value="Manager" /> By Manager
                </div>
                <div class="form-group">
                    <input id="rbCustomer" name="chartRadio" type="radio" class="radio-inline" value="Customer" /> By Customer
                </div>
                <div class="form-group">
                    <input id="rbProduct" name="chartRadio" type="radio" class="radio-inline" value="Product" /> By Product
                </div>                                
            </div>            
        </div>
    </div>


<div id="result">
</div>
<hr />
<div id="chartContainer" style="text-align:center; margin: auto auto; width: 100%">
</div>
<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
@Scripts.Render("~/bundles/statistics")
@section scripts
{                  
    <script type="text/javascript">
        $(document).ready(function () {            

            function bFindClick(o) {
                o.preventDefault();

                $.ajax({
                    type: "POST",
                    data: {
                        "Customer" : $("#eCustomer").val(),
                        "Manager" : $("#eManager").val(),
                        "Product": $("#eProduct").val(),
                        "StartDate": $("#eStartDate").val(),
                        "EndDate": $("#eEndDate").val()
                    },
                    url: "Home/Index",
                }).done(function (res) {
                    var isAdmin = @MvcApplication.IsAdmin(Request.GetOwinContext(), User.Identity.Name).ToString().ToLower();
                    statisticsView(res, "#result", "chartContainer", isAdmin);
                });
            }

            $(bFind).on("click", bFindClick);            
            $('input[name="chartRadio"]').on("change", bFindClick);
        })
    </script>
}