@using Statistics.Identity
@using Statistics.Helpers

@model Statistics.Models.SalesListModel

@{
    ViewBag.Title = "Sales Statistics";
}

<h2>Sales</h2>
<input id="page" name="page" type="hidden" value="@Model.Pager.CurrentPage" />
<p>
    @if (MvcApplication.IsAdmin(Request.GetOwinContext(), User.Identity.Name))
    {
        @Html.ActionLink("Add New sale", "CreateSale")
    }    
</p>
<table class="table">
    <tr>
        <th>
            Sale date
        </th>
        <th>
            Manager
        </th>
        <th>
            Customer
        </th>
        <th>
            Product
        </th>
        <th>
            Total
        </th>
        <th></th>
    </tr>

    <tbody id="resultBody">
        @Html.Partial("StatisticsData", Model.Sales)

        <tr>
            <td colspan="5">
                @Html.Pager(Model.Pager, x => Url.Action("Index", "Home",
                   new
                   {
                       Customer = Model.Filter.Customer,
                       Manager = Model.Filter.Manager,
                       Product = Model.Filter.Product,
                       StartDate = Model.Filter.StartDate,
                       EndDate = Model.Filter.EndDate,
                       page = x
                   }))
            </td>
        </tr>
    </tbody>
    
</table>

@Html.ActionLink("Back", "Index", new { controller = "Home" }, new { @class = "btn btn-default" })

<script src="~/Scripts/statisticsDelete.js"></script>