@model Statistics.Models.UserViewModel

@{
    AjaxOptions editOptions = new AjaxOptions()
    {
        Url = Url.Action(string.Format("EditUserData/{0}", Model.Id)),
        HttpMethod = "GET",
        UpdateTargetId = Model.Id
    };

}
<div id="@Model.Id">
    <hr />
    @Html.HiddenFor(x => x.Id)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    <p>
        @Ajax.ActionLink("Edit", "EditUser", new { id = Model.Id }, editOptions) |
        @Html.ActionLink("Delete", "DeleteUser", new { id = Model.Id }, new { onclick="return deleteUser(event, '" + Model.Id + "');"})
    </p>
</div>

<script type="text/javascript">
    function deleteUser(event, userId) {
        event.preventDefault();
        if (confirm("Delete this user?")) {
            $.ajax({
                type: "POST",
                url: "/Account/DeleteUser",
                data: {
                    "id": userId
                }
            }).done(function (res) {
                $("#" + userId).html(res);
            });
        }
        return false;
    }
</script>