@model Statistics.Models.UserViewModel

@{
    AjaxOptions editOptions = new AjaxOptions()
    {
        Url = Url.Action(string.Format("EditUserData/{0}", Model.Id)),
        HttpMethod = "GET",
        UpdateTargetId = Model.Id
    };

}
<div id="@Model.Id">
    <hr />
    @Html.HiddenFor(x => x.Id)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    <p>
        @Ajax.ActionLink("Edit", "EditUser", new { id = Model.Id }, editOptions) |
        @Html.ActionLink("Delete", "DeleteUser", new { id = Model.Id })
    </p>
</div>

