@model Statistics.Models.RolesViewModel

@{
    ViewBag.Title = "User Roles";

    //AjaxOptions opt = new AjaxOptions()
    //{
    //    UpdateTargetId = "roles_" + Model.UserId
    //};
}

<h2>Roles for @Model.UserName</h2>

<div class="form-horizontal active">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.UserName)
        foreach (var role in Model.Roles.Keys)
        {
            <div class="form-group">
                <label class="control-label col-md-2">@role</label>
                <div class="col-md-10">
                    @Html.CheckBoxFor(m => m.Roles[role], new { @class = "checkbox" })
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="bSaveRoles_@Model.UserId" type="submit" name="submit" value="Save" class="btn btn-default">Save</button>
                <button id="bCancelRoles_@Model.UserId" type="submit" name="submit" value="Cancel" class="btn">Cancel</button>
                <button type="reset" class="btn">Reset</button>
            </div>
        </div>
    }
</div>
